<ion-content class="ion-padding">

  <ion-grid class="centerCard">
    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Gestão de Despesas em Viagens</ion-card-title>
        </ion-card-header>

        <ion-row>

          <ion-col size-xs="12" size-sm="4" size-md="4" size-lg="4" size-xl="4">
            <ion-input label="Descrição" label-placement="floating" fill="outline" placeholder="Descrição"
              [(ngModel)]="Descricao"></ion-input>
          </ion-col>

          <ion-col size-xs="12" size-sm="2" size-md="2" size-lg="2" size-xl="2">
            <ion-input label="Quantidade" type="number" label-placement="floating" fill="outline"
              placeholder="Quantidade" [(ngModel)]="Quantidade"></ion-input>
          </ion-col>

          <ion-col size-xs="12" size-sm="2" size-md="2" size-lg="2" size-xl="2">
            <ion-input label="Valor" type="number" label-placement="floating" fill="outline" placeholder="Valor"
              [(ngModel)]="Valor"></ion-input>
          </ion-col>

          <ion-col size-xs="12" size-sm="2" size-md="2" size-lg="2" size-xl="2">
            <ion-select label="Moeda de Origem" interface="popover" label-placement="floating" fill="outline"
              [(ngModel)]="moedaOrigem">
              <ion-select-option *ngFor="let moeda of moedas" [value]="moeda">{{ moeda }}</ion-select-option>
            </ion-select>
          </ion-col>

          <ion-col size-xs="12" size-sm="2" size-md="2" size-lg="2" size-xl="2">
            <ion-select label="Moeda de Destino" interface="popover" label-placement="floating" fill="outline"
              [(ngModel)]="moedaDestino">
              <ion-select-option *ngFor="let moeda of moedas" [value]="moeda">{{ moeda }}</ion-select-option>
            </ion-select>
          </ion-col>

        </ion-row>

        <ion-row style="text-align: center;">
          <ion-col size="12">
            <ion-button (click)="adicionarNovaDespesa()">
              {{ despesaEditandoIndex !== null ? 'Atualizar' : 'Adicionar' }}
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-card-content style="color: black;">

          <div *ngFor="let despesa of despesas; let i = index">
            <ion-list>
              <ion-row style="background-color: rgb(199, 199, 199);">

                <ion-col size="8">
                  <p>{{ despesa.descricao }} (Qtd. {{ despesa.quantidade }}): {{ despesa.valor }} {{ despesa.moedaOrigem
                    }}
                    => {{ despesa.valorConvertido }} {{ despesa.moedaDestino }}</p>
                </ion-col>

                <ion-col size="2">
                  <ion-button aria-label="Edit" (click)="editarDespesa(i)">
                    <ion-icon name="pencil" aria-hidden="true"></ion-icon>
                  </ion-button>
                </ion-col>

                <ion-col size="2">
                  <ion-button color="danger" aria-label="Delete" (click)="confirmarExclusao(i)">
                    <ion-icon name="trash-outline" aria-hidden="true"></ion-icon>
                  </ion-button>
                </ion-col>

              </ion-row>
            </ion-list>
          </div>

        </ion-card-content>

        <ion-card-content class="moedaCenter">

          <ion-row>
            <ion-col>
              Total (Moeda de Origem): {{ getTotalMoedaOrigem() }} {{ moedaOrigem }}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              Total (Moeda de Destino): {{ getTotalMoedaDestino() }} {{ moedaDestino }}
            </ion-col>
          </ion-row>

        </ion-card-content>

      </ion-card>
    </ion-col>
  </ion-grid>

</ion-content>
